
.top-section{
    margin-top: 10px;
    margin-bottom: 20px;
}
.top-section span:nth-last-child(2){
    color: rgb(155, 148, 148);
}
.reg-btn{
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    background-image: linear-gradient(to right, #658cf6 0%, #0731a7 51%, #6598f6 100%);
}
.all-btn{
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}
.reg-btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: white;
}
.bg-custom{
    background: linear-gradient(to right, #5f27cd, #360d88,#401694 , #6932cf );
}
nav ul{
    margin-left: 15% !important; 
}
nav ul li{
    padding-left: 30px;
}
.navbar-dark{
    color: aliceblue;
    font-weight: 600;
}
.type-logo{
    width: 120px;
    height: 60px;    
}
.sub-title{
    padding-left: px;
}
.middle{
    height: 55vh;
    background: linear-gradient(90deg,  #ffc400,#ffd23c, #ffc812);
}
.middle-overlay{
    position: absolute;
    z-index: 1;
    height: 55vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.custom-owl-container{
    padding-top: 20px;
    padding-bottom: 20px;
}
.pic{
    height: 80px;
}
.fa-pic{
    height: 110px;
}
.tata-pic{
    height: 120px;
}
.sponsor-wrap h5{
    padding-top: 50px;
}
.logo{
    height: 120px;
    width: 150px;
    margin-left: 80px;
}
.photos-section{
    position: relative;
    height: auto;
    padding-bottom: 20px;
}
.photos-inner{
    padding-top: 30px;
}
.photos-section h3{
    padding-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Photos */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
.news-section{
    padding-bottom: 50px;
}
.videos-section{
    margin-bottom: 50px;
}
.footer{
    height: auto;
    background: linear-gradient(45deg, #8259cf, #a83535, #033485);
    color: white;
    padding-top: 100px;
}
.footer-wrapper{
    display: flex;
    flex-flow: row nowrap;
}
.footer-wrapper ul li{
    list-style: none;
}
.footer-wrapper ul li a{
    color: #fff;
}
.copyrights{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: .6em;
    letter-spacing: 2px;
    padding-bottom: 20px;
}
/* Register */
.register-wrap{
    display: flex;
    flex-flow: row wrap;
}
.hidden{
    display:none;
}
/* portrait */

@media screen and (orientation:portrait){
    .footer-wrapper{
        margin-left: -20px;
    }
}
@media (max-width:400px){
    .footer-wrapper{
        font-size: .7em;
    }
}
@media (max-width:340px){
    .footer-wrapper{
        font-size: .6em;
    }
}
@media (max-width:330px){
    .footer-wrapper{
        font-size: .5em;
    }
}

/* result */

.result-wrapper {
    background: linear-gradient(to bottom right, #ffffff,#ffffff,#ffffff, #8259cf);
    width: 100%;
    height: 78vh;
    display: block;
}
.form--inner--wrapper{
    position: absolute;
    top: 100px;
}
.form--inner--wrapper input[type= text]{
    margin-bottom: 20px;
}
/* Full News */
.card{
    margin-left: 50px;
    margin-bottom: 10px;
}
.ch-news-section{
    background: linear-gradient(to right, #573696, #042991);
    color: #eee;
}
.ch-news-section h5{
    padding: 25px;
}
@media screen and (orientation: portrait){
    .news-container{
        padding-right: 70px;
    }
}
/* article */
.header-wrapper{
    padding-top: 50px;
    padding-bottom: 50px;
}
.article-wrapper{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.article-header{
    font-weight: 800;
    line-height: 50px;
    letter-spacing: .1em;
    font-size: 1.5em;
    text-transform: capitalize;
}
.ch-article-section{
    height: 5px;
    width: 100%;
    background-color:  #d4a712;
}
.article-author{
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.article-image{
    margin-bottom: 50px;
}
p::before{
    font-weight: bolder;
}

.other-news-header span:nth-last-of-type(1){
    font-weight: bold;
    font-size: 1.5em;
}
.other-news-header span:nth-last-of-type(2){
    font-size: 1.3em;
}