*{
    box-sizing: border-box;
}
.top-section{
    margin-top: 10px;
    margin-bottom: 20px;
}
.top-section span:nth-last-child(2){
    color: rgb(155, 148, 148);
}
.reg-btn{
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    background-image: linear-gradient(to right, #ec5959 0%, #d6470e 51%, #d41e06 100%);
}
.all-btn{
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}
.all-btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: white;
}
.reg-btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: white;
}
.bg-custom{
    background: linear-gradient(to right, #5f27cd, #360d88,#401694 , #6932cf );
}
nav ul{
    margin-left: 8% !important; 
}
nav ul li{
    padding-left: 30px;
}
.navbar-dark{
    color: aliceblue;
    font-weight: 600;
}
.full-logo{
    height: 100px;    
}
.type-logo{
    height: 60px;  
}
.big-logo{
    height: 100px;    
}
.small{
    height: 80px;
}
.type-logo .small {
    font-size: 15px;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
  }
.sub-title{
    padding-left: px;
}
.inner-follow{
    height: 50px;
    background: linear-gradient(to right, #a9b409, #eea60a, #b3a106);
    color: white;
    padding-top: 10px;
}
.inner-follow a{
    text-decoration: none;
    color: #ffffff;
}
.inner-follow a i{
    font-size: 1.5em;
}
.fab{
    padding-left: 20px;
}
.fa-facebook-f:hover{
    color: #3B5998 ; 
}
.fa-twitter:hover{
    color: #1DA1F2;
}
.fa-instagram:hover{
    color: #262626;
}
.middle{
    height: 55vh;
    background: linear-gradient(90deg,  #d6b443,#ffd034, #e9bc27);
}
.middle-overlay{
    position: absolute;
    z-index: 1;
    height: 55vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.custom-owl-container{
    padding-top: 20px;
    padding-bottom: 20px;
}
.pic{
    height: 80px;
}
.fa-pic{
    height: 110px;
}
.tata-pic{
    height: 120px;
}
.sponsor-wrap h5{
    padding-top: 50px;
}
.logo{
    height: 120px;
    width: 150px;
    margin-left: 80px;
}
.photos-section{
    position: relative;
    height: auto;
    padding-bottom: 20px;
}
.photos-inner{
    padding-top: 30px;
}
.photos-section h3{
    padding-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Photos */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
.news-section{
    padding-bottom: 50px;
}
.videos-section{
    margin-bottom: 50px;
}
.footer{
    height: auto;
    background: linear-gradient(45deg, #8259cf, #a83535, #033485);
    color: white;
    padding-top: 100px;
}
.footer-wrapper{
    display: flex;
    flex-flow: row nowrap;
}
.footer-wrapper ul li{
    list-style: none;
}
.footer-wrapper ul li a{
    color: #fff;
}
.copyrights{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: .6em;
    letter-spacing: 2px;
    padding-bottom: 20px;
}
/* Register */
.register-wrap{
    display: flex;
    flex-flow: row wrap;
}
.hidden{
    display:none;
}
/* portrait */

@media screen and (orientation:portrait){
    .footer-wrapper{
        margin-left: -20px;
    }
}
@media (max-width:400px){
    .footer-wrapper{
        font-size: .7em;
    }
}
@media (max-width:340px){
    .footer-wrapper{
        font-size: .6em;
    }
}
@media (max-width:330px){
    .footer-wrapper{
        font-size: .5em;
    }
}

/* result */

.result-wrapper {
    background: linear-gradient(to bottom right, #ffffff,#ffffff,#ffffff, #8259cf);
    width: 100%;
    height: 78vh;
    display: block;
}
.form--inner--wrapper{
    position: absolute;
    top: 100px;
}
.form--inner--wrapper input[type= text]{
    margin-bottom: 20px;
}
/* Full News */
.team-card{
    margin-left: 50px;
    margin-bottom: 10px;
}
.ch-news-section{
    background: linear-gradient(to right, #573696, #042991);
    color: #eee;
}
.ch-news-section h5{
    padding: 25px;
}
@media screen and (orientation: portrait){
    .news-container{
        padding-right: 70px;
    }
}
/* article */
.header-wrapper{
    padding-top: 50px;
    padding-bottom: 50px;
}
.article-wrapper{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.article-header{
    font-weight: 800;
    line-height: 50px;
    letter-spacing: .1em;
    font-size: 1.5em;
    text-transform: capitalize;
}
.ch-article-section{
    height: 5px;
    width: 100%;
    background-color:  #d4a712;
}
.article-author{
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.article-image{
    margin-bottom: 50px;
}
p::before{
    font-weight: bolder;
}

.other-news-header span:nth-last-of-type(1){
    font-weight: bold;
    font-size: 1.5em;
}
.other-news-header span:nth-last-of-type(2){
    font-size: 1.3em;
}
/* Teams */
.teams-wrapper{
    display: flex;
    flex-wrap: nowrap;
    padding-top: 50px;
    color: white;
}
.team-img{
    height: 100px;
    width: 100px; 
    background-color: white; 
}
.width-adjust{
    width: 150px;
}
.height-adjust{
    height: 120px;
}
.team-card{
    height: 350px;
    width: 250px;
}
.first-team{
    background:rgb(255, 170, 14);
    background-image: url('../assets/image/2.jpg');
    background-blend-mode: soft-light;
}
.teams-wrapper a{
    text-decoration: none;
    color: white;
}
.teams-wrapper a:hover{
    text-decoration: none;
    color: white;
}
.second-team{
    background: rgba(231, 76, 60,1);
    background-image: url('../assets/image/2.jpg');
    background-blend-mode: overlay;
}
.third-team{
    background: rgba(155, 89, 182,1);
    background-image: url('../assets/image/4.jpg');
    background-blend-mode: overlay;
    background-position: center;
}
.fourth-team{
    background: rgb(36, 83, 6);
    background-image: url('../assets/image/3.jpg');
    background-blend-mode: overlay;
    background-position: center;
}
.fifth-team{
    background: rgb(10, 39, 63);
    background-image: url('../assets/image/5.jpg');
    background-blend-mode: overlay;
    background-position: center;
}
.sixth-team{
    background: rgb(100, 6, 56);
    background-image: url('../assets/image/6.jpg');
    background-blend-mode: overlay;
    background-position: center;
}
.seventh-team{
    background: rgb(70, 30, 37);
    background-image: url('../assets/image/1.jpg');
    background-blend-mode: overlay;
    background-position: center;
}
.eighth-team{
    background: rgb(4, 42, 47);
    background-image: url('../assets/image/5.jpg');
    background-blend-mode: overlay;
    background-position: center;
}
.card-title{
    font-weight: 800;
    font-size: 1.4em;
}
.view-team{
    text-decoration: underline;
    text-transform: capitalize;
}
.view-team:hover{
    text-transform: capitalize;
}

/* Squad */

.squad-wrapper{
    display: flex;
    flex-flow: row wrap;
}
.squad-img{
    margin-top: 10%;
    flex: 2 1 auto;
}

.squad-img img{
    height: 250px;
}
.squad-details{
    flex: 5 1 auto;
    margin-top: 80px;
}
.squad-details ul li{
    list-style: none;
}
.squad-details ul{
    width: 50%;
}
.squad--image{
    height: 80px;
    width: 80px;
    border-radius: 50px;
    margin-right: 30px;
    border: 2px solid #d4a712;
}
.player-name{
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    margin-top: 15px;
    margin-left: 10px;
}
/* Temp */
.img-container{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color: rgba(246,211,101,0.5);
    background-image: url('../assets/players/player2.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid #fda085;
}
.second-img-container{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color: rgba(246,211,101,0.5);
    background-image: url('../assets/players/player3.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid #fda085;
}
.third-img-container{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color: rgba(246,211,101,0.5);
    background-image: url('../assets/players/player4.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid #fda085;
}
.team-name{
    display: inline-block; 
    font-weight: 800;
    padding-left: 5px;
}
.team-min-image{
    display: block;
    background-image: url('../assets/teams/chennai.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
.player-image-1{
    height: 280px;
    width: 100%;
    background-image: url('../assets/players/player2.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #0f49c7e5;
    transition: all .5s;
}
.player-image-1:hover{
    background-color: #262626;

}
.player-image-2{
    height: 280px;
    width: 100%;
    background-image: url('../assets/players/player3.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #a9b409;
    transition: all .5s
}
.player-image-2:hover{
    background-color: #d6470e;
}
.player-image-3{
    height: 280px;
    width: 100%;
    background-image: url('../assets/players/player4.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #d4a712;
}
.player-image-3:hover{
    background-color: #d47012;
}
.sponsor-container .container-img{
    height: 120px;
    width: 120px;
}
@media screen and (orientation: portrait){
    .teams-wrapper{
        margin-left: -20px;
    }
    .squad-details ul{
        width: 100%;
    }
    .player-name{
        font-size: 1.2em;
    }
    .team-name{
        display: inline-block; 
        font-weight: 800;
        padding-left: 25px;
    }
    .squad-team-img{
        margin-left: 25px;
    }
}
@media(max-width:1024px){
    nav ul{
        margin-left: -4% !important; 
    }
}
@media(max-width:768px){
    .team-card{
        margin-left: 85px;
    }
}